@model CheeseMVC.ViewModels.AddEditCheeseViewModel

@{
    //Layout = null;
}

<h1>Edit Cheese @Model.CheeseToEdit.Name (id = @Model.CheeseId)</h1>

<form asp-controller="Cheese" asp-action="Edit" method="post">
    <label asp-for="Name"></label>
    <br />
    <input asp-for="Name" value="@Model.CheeseToEdit.Name" />
    <br />
    <label asp-for="Description"></label>
    <br />
    <input asp-for="Description" value="@Model.CheeseToEdit.Description" />
    <br />
    <label asp-for="Type"></label>
    <br />
    <select asp-for="Type" asp-items="Model.CheeseTypes" value="@Model.CheeseToEdit.Type"></select>
    <br />
    <label asp-for="Rating"></label>
    <br />
    <input asp-for="Rating" value="@Model.CheeseToEdit.Rating" />
    <br />
    <br />
    <input asp-for="CheeseId" type="hidden" value="@Model.CheeseToEdit.CheeseId" />
    <input type="submit" value="Edit Cheese" />
</form>